*{
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

ul{
	padding-left: 0;
	margin: 0;
}

ul li{
	list-style: none;
}

.esconder{
	display: none;
}

form[name="form_receita"] .form-check{
	display: inline-flex;
	color: #007bff;
	padding: 1rem;
	cursor: pointer;
}

form[name="form_receita"] .form-control{
	border: 2px solid #007bff;
	border-radius: 5px;
	resize: none;
}

form[name="form_receita"] .form-check input{
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 2px solid #007bff;
	border-radius: 2px;
	position: relative;
	outline: none;
}

form[name="form_receita"] .form-check .form-check-label{
	margin-left: 5px;
}

form[name="form_receita"] .form-check input:checked::before{
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	border-bottom: 2px solid #007bff;
	border-left: 2px solid #007bff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

form .custom-file input{
	display: none;
}

form .custom-file .fake-button{
	display: block;
	margin: 0 auto;
	background: lightgray;
	color: #333;
	padding: 0.5rem;
	border-radius: 10px;
	transition: 400ms ease all;
	cursor: pointer;
}

form .custom-file .fake-button:hover{
	background: #333;
	color: lightgray;
}

form .custom-file .fake-button:hover svg{
	fill: lightgray;
}

form .custom-file svg{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.icone_receita{
	display: inline-block;
	width: 40px;
}

.form_dash{
	float: right;
}

.clicado{
	border: 1px solid #333;
	background-color: #E2E5EA;
}

.n-rec{
	border-bottom: 1px solid #333;
	margin-left: 20px;
}


